html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Khula";
}

h1,
p {
  text-align: center;
  padding: 20px;
  background-color: rgb(144, 146, 131);
  color: whitesmoke;
}
form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 10px;
}
input,
label {
  align-self: center;
  text-align: center;
  width: 20%;
}
input {
  font-size: 115%;
}

button {
  align-self: center;
  text-align: center;
  width: 10%;
  padding: 5px, 15px, 5px, 15px;
  border: 2px solid rgb(154, 156, 144);
  border-radius: 4px;
  background-color: whitesmoke;
  transition: all 300ms;
}
button:hover {
  color: white;
  background-color: rgb(154, 156, 144);
}
ion-icon {
  color: rgb(144, 146, 131);
  padding-right: 5px;
}
